.fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

/* Shared css */
.btn-primary {
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #006A50;
    cursor: pointer;
}

.btn-secondary {
    font-weight: 600;
    color: #fff;
    padding: 13px 26px;
    text-align: center;
    border: none;
}

.font-primary {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* body style */
body {
    background-color: #F1F1F3;
    width: 1280px;
    margin: 0 auto;
}

/* nav style */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-right-side button {
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
}

/* banner section style */
.banner {
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-container {
    display: flex;
    padding: 80px 60px;
    justify-content: space-between;
}

.banner-content {
    width: 622px;
}

.banner-sub-title {
    font-size: 24px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

.banner-btn {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}

/* pillars section style */
.pillars {
    margin: 80px 0;
}

.pillars-container {
    display: flex;
    gap: 24px;
}

.pillar {
    width: 300px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-name {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

.pillar-description {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

/* vision section style */
.vision {
    margin-bottom: 40px;
}

.vision-items-container {
    display: flex;
    gap: 24px;
    margin: 32px 0;
}

.vision-item {
    width: 410px;
    padding: 32px;
    border-radius: 16px;
    position: relative;
}

.vision-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-item-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

.vision-item-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-first-item {
    background-color: rgba(84, 144, 245, 0.2);
    border: 1px solid rgba(84, 144, 245, 0.2);
}


.vision-item-btn {
    text-decoration: none;
    display: inline-block;
}


.vision-first-item .vision-item-btn {
    background-color: #5490F5;
    transition: .3s;
}

.vision-first-item .vision-item-btn:hover {
    background-color: #04f718;
    color: black;
}

.vision-second-item {
    background-color: #C6E4D6;
}

.vision-second-item .vision-item-btn {
    background-color: #09A15C;
    transition: .3s;
}

.vision-second-item .vision-item-btn:hover {
    background-color: #04f718;
    color: black;
}

.vision-third-item {
    background-color: #F7EBCF;
}

.vision-third-item .vision-item-btn {
    background-color: #FFC239;
    transition: .3s;
}

.vision-third-item .vision-item-btn:hover {
    background-color: #04f718;
    color: black;
}


.vision-footer {
    background-color: #fff;
    padding: 25px 24px;
    border-radius: 16px;
}

.vision-footer-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.vission-footer-title {
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}

.vission-footer-subtitle {
    color: rgba(14, 14, 14, 0.6);
}

/* opinion section style */
.opinion {
    margin-top: 80px;
    margin-bottom: 100px;
}

.opinion-table {
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;
}

.opinion-collaps-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-bottom: none;
    background-color: #C6E4D6;
}

.left-collaps {
    margin-left: 20px;
}

.right-collaps {
    margin-right: 20px;
}

.opinion-table {
    width: 100%;
}

.opinion-border {
    border-collapse: collapse;
}

.opinion-border tr td {
    padding: 10px 20px;
    width: 100%;
}

.opinion-border select {
    padding: 10px 20px;
    background-color: #C6E4D6;
}

/* Satellite section style */
.satellite {
    margin-bottom: 80px;
}
.satellite-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.satellite-container {
    background-color: #fff;
    padding: 0 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.satellite-image {
    border-radius: 24px;
}
.satellite-content-title  {
    font-size: 32px;
    font-weight: bold;
}
.satellite-content {
    margin-bottom: 50px;
}
.satellite-content-img {
    width: 135px;
}
.satellite-content-sub-title .satellite-content-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.satellite-content-sub-title {
    margin-top: 12px;
}
.satellite-content-sub-title span {
    margin-right: 12px;
}
.satellite-btn {
    background-color: #006A50;
    transition: 0.3s;
    cursor: pointer;
}
.satellite-btn:hover {
    background-color: #09A15C;
}

.satellite-middle {
    margin: 24px 0;
}

.satellite-middle .satellite-container {
    flex-direction: row-reverse;
}

/* Donate section style */
.donate {
    margin-bottom: 80px;
}
.donate-title {
    text-align: center;
}
.donate-description {
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}

.donate-item {
    padding: 30px 60px;
    border-radius: 16px;
    background-color: #fff;
    transition: 0.4s;
    cursor: pointer;
}
.active-bg-color{
    background-color: #C6E4D6;
}

.donate-item:hover {
    background-color: #FFC239;
}

.donate-item h3 {
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
}
.donate-items-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.donate input {
    width: 92.5%;
    padding: 20px;
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.30)
}
.other-donate {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.other-donate input[placeholder] {
    font-size: 20px;
}

.donate-btn {
    text-align: center;
    margin-top: 32px;
}

.donate-btn button {
    background-color: #006A50;
}