.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* Shared css */
.btn-primary {
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.btn-secondary {
    font-weight: 600;
    color: #fff;
    padding: 13px 26px;
    text-align: center;
}

.font-primary {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* body style */
body {
    background-color: #F1F1F3;
    width: 1280px;
    margin: 0 auto;
}

/* nav style */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-side h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-right-side button {
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
}